<head>
	<h1>
		<strong> Welcome to the Bog </strong>
	</h1>
	<link href="/stylesheets/style1.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<br>
<br>

<body>

	<div id="navbar"> 
  <ul> 
	<li><a href = "bogs/new">Add</a></li> 
	<li><a href = "bogs/list">Display</a></li> 
  </ul> 
</div> 



	<br>
	<br>

</body>
