<form action="/bogs" method="post">
	<pre>Name<input type="text" name="creature[name]"></pre>
	<pre>Description<input type="text" name="creature[description]"></pre>
    
    <%= token_tag form_authenticity_token %>
    <button> Save Creature </button>
</form>