   	<strong>Create has been added</strong>


   	<br>
   	<br>


    <div>
        Name: <%= @creature.name %> <br>
        Description: <%= @creature.description %>
        <br>
        <br>
        <a href = "/bogs"> <button> Menu page </button>	</a> 
    </div>


 